<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Provincia | Actualizar</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" href="img/favi.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>
	
	<div class="container-fluid">
		<h1>Formulario para actualizar Provincia</h1>
		<form action="#" th:action="@{/guardaProvincia}" th:object="${provincia}" method="post">
			<input type="hidden" th:field="*{idprovincia}" name="idprovincia" id="idprovincia" >
			<div class="form-group">
				<input class="form-control" type="text" th:field="*{provincia}" name="provincia" id="provincia" placeholder="Introduce la provincia">
			</div>
				
			<p class="form-group">
				<input class="btn btn-lg btn-block btn-primary" type="submit" value="Guardar" />
			</p>
		</form>
		<a class="btn btn-block btn-danger" href="/">Cancelar</a>
	</div>
</body>
</html>