<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Detalles de particulares</title>
	<meta charset="UTF-8" />
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="row-fluid">

<div th:replace="fragments/topnav :: navbar"></div>

	<main>
	<div>
	<h3 class="text-center">DATOS PERSONA</h3>

		<table class="table">
		<tr>
		<td class="text-center" ><b>NOMBRE</b></td>
			
				<td class="text-center"><b>PRIMER APELLIDO</b> </td>
			<td class="text-center"><b>SEGUNDO APELLIDO</b></td>
				<td class="text-center"><b>DNI</b></td>
			<td class="text-center"><b>FECHA DE NACIMIENTO</b></td>
		
		
		</tr>
		
				
				<tr>
					
					<td th:text="${personaDetalles.nombre}" class="text-center">...</td>
					<td th:text="${personaDetalles.apellido1}" class="text-center" >...</td>
					<td th:text="${personaDetalles.apellido2}" class="text-center" >...</td>
					<td th:text="${personaDetalles.dni}" class="text-center" >...</td>
						<td th:text="${personaDetalles.fechanacimiento}" class="text-center">...</td>
					
				</tr>
		
		</table>
			

		<table class="table">
				

				 <thead>
        <tr >
            <th><h3 class="text-center">TELEFONOS DEL CONTACTO</h3></th>
        </tr>
    </thead>
				
				   <tbody>
				 <tr th:if="${telefonos.empty}">
            <td > No Tiene telefonos </td>
        </tr>
       
       <tr th:each="telefono : ${telefonos}" class="row">
					<thead>
				<tr>
					
					
				</tr>
			</thead>
					
				<tr th:each="telefono : ${telefonos}" >

				<td th:text="${telefono.telefono}" class="text-center">...</td>
        </tr>
</tbody>
		
		</table>
		
		
		<table class="table" >			
				<tr>

					<td colspan="3"><h3 class="text-center">DIRECCIONES ASOCIADOS AL CONTACTO</h3></td>	
				</tr>
		
			
			<tr th:if="${direcciones.empty}">
            <td colspan="3"> No Tiene direcciones asociadas</td>           
        </tr>
        <tr>
        <td class="text-center"><b>DIRECCION</b></td>
         <td class="text-center"><b>CODIGO POSTAL</b></td>
          <td class="text-center"><b>LOCALIDAD</b></td>
        	</tr>
        
			
			
				<tr th:each="direccion : ${direcciones}" >
				
			
				<td th:text="${direccion.direccion}" class="text-center">...</td>
				<td th:text="${direccion.codpostal}" class="text-center">...</td>
				<td th:text="${direccion.localidad}" class="text-center">...</td>
				</tr>
	
		</table>
		<h3 class="text-center">PROVINCIA DONDE VIVES</h3>
		<table class="table">
				
				<tr>
				
					<td th:text="${provincias.provincia}" class="text-center">...</td>
					
					
				</tr>
		
		</table>
		
		
		


		
		
	
		<a class="btn btn-block btn-primary" href="/">Volver</a>
		</div>
	</main>
</body>
</html>
