<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="icon" type="image/png" href="img/favi.png">
			<link rel="stylesheet" type="text/css" href="css/estilos.css">
    <title>Agenda</title>
  </head>
  <body>
  
  <div th:replace="fragments/topnav :: navbar"></div>
    
    <h1 class="text-center">CONTACTOS ENCONTRADOS</h1>
    
   
   
   
    				<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col" class="text-center" >Nombre</th>
					      <th scope="col" colspan="4" >Apellido</th>
					    </tr>
					  </thead>
					  
					  
					  


				 <thead>
        <tr >
            <th><h3 class="text-center">TELEFONOS DEL CONTACTO</h3></th>
        </tr>
    </thead>
				
				
				 <tr th:if="${pers.empty}">
            <td > No hay contactos con el criterio de busqueda </td>
     </tr>
	  
					  
					 
    <div th:each="persona : ${pers}" class="row pb-2">
				<!-- <p class="col-9" th:text="' ' + ${persona.nombre} + ' -> ' + ${persona.apellido1}"></p> -->
				<tbody>
					    <tr>
					      <td th:text="' ' + ${persona.nombre}" class="text-center"></td>
					      <td th:text="' ' + ${persona.apellido1}"></td>

					      <td><a class="col btn btn-outline-info mr-1"  th:href="@{/datos/{id}(id=${persona.idpersona})}" role="button">Detalles</a></td>
					      <td><a class="col btn btn-outline-warning mr-1"  role="button">Editar</a></td>
					      <td><a class="col btn btn-outline-danger mr-1" th:href="@{/borrar/{id}(id=${persona.idpersona})}" role="button">Borrar</a></td>
					    </tr>
					  </tbody>
					</table>
		</div>
			<hr/>
		
    
    
    
    
    
    
    <a class="btn btn-block btn-danger"href="volver">Volver</a>
    </br>
   
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>