<div class="container">
		<h1>Formulario Contacto</h1>
		<form action="save"  method="post">
			<div class="form-group">
				<input class="form-control" type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre completo">
				

			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="apellido1" id="apellido1" placeholder="Introduce tu primer apellido">
				
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="apellido2" id="apellido2" placeholder="Introduce tu segundo apellido">
				
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="telefono" id="telefono" placeholder="Introduce tu telefono">
				
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="direccion" id="direccion" placeholder="Introduce tu direccion">
				
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="codpostal" id="codpostal" placeholder="Introduce el codigo postal">
				
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="dni" id="dni" placeholder="Introduce tu DNI">
				
			</div>
			<div class="form-group">
				<h6>Introduzca su fecha de nacimiento </h6>
				<input class="form-control" type="text" name="fecha" id="fecha">
				
			</div>
				<div class="form-group">
				<h6>ELIJA LA PROVINCIA </h6>
					<select name="provinciaEscogida"> 
                         <option value=""> -- </option>
                          
          </select>
			</div>
			
			<p class="form-group">
				<input class="btn btn-lg btn-block btn-primary" type="submit" value="Guardar" />
			</p>
		</form>
		<a class="btn btn-block btn-danger" href="/">Cancelar</a>
	</div>